<h2>Admin Dashboard</h2>
<hr>
<a href="/admin/categorias"><button class="btn btn-success">Categories Dashboard</button></a>
<a href="/admin/postagens"><button class="btn btn-success">Posts Dashboard</button></a>
<a href="/admin/users"><button class="btn btn-success">Users Dahsboard</button></a>