{{#each error}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<h2>New password for user: {{usuario._id}}</h2>
<div class="card">
    <div class="card-body">
        <form action="/admin/users/edit/password" method="post">
            <input type="hidden" name="id" id="id" value="{{usuario._id}}">
            <div class="mb-3">
                <label for="new_password">New user password</label>
                <input type="password" name="new_password" id="new_password" placeholder="New password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="confirm_new_password">Confirm new user password</label>
                <input type="password" name="confirm_new_password" id="confirm_new_password" placeholder="Confirm new password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success">Register new password</button>
        </form>
    </div>
</div>